
<html lang="en">

<%- include('./partials/head.ejs')  %>

<body>
    
    <%- include('./partials/nav.ejs')  %>

    <div class="about content">
        <h2>About US</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat in odio eum nobis accusamus inventore repellendus deserunt ad? Perferendis deleniti inventore ex magni earum. Aut?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga aliquid odio quasi architecto voluptas quae corporis dicta molestias ipsum vero voluptates sunt, alias atque adipisci?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste placeat deserunt porro. Blanditiis, accusamus! Accusantium iusto repellendus culpa ut inventore explicabo ad natus velit vitae.</p>
    </div>

    <%- include('./partials/foot.ejs')  %>

</body>
</html>